<body>
    <!--Wrapper for title-->
    <header id="header">
        <h1>Welcome to Websichanic</h1>
    </header>
    <!--Wrapper for terminal and button-->
    <main id="py--app">
        <div id="mobile--notice">
            <p>
                This website is not intented
                for mobile use. Please visit
                us from a desktop computer!
            </p>
        </div>
        <div id="terminal"></div>
        <button onclick="window.location.reload()">REBOOT APP</button>
    </main>
    <!--Wrapper for footer-->
    <footer id="footer">
        <a href="https://github.com/MTraveller" target="_blank">
            <button>@MTraveller&ensp;
                <i class="fa fa-github"></i>
            </button>
        </a>
    </footer>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>